@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

#login {
  margin-left: 1em;
  margin-right: 1em;
}
h1 {
  font-style: oblique;
  font-family: "Akaya Telivigala", cursive;
  font-size: 2em;
}
#welcome {
  background-image: url("blue.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#greetings {
  color: white;
  font-size: 5em;
}
/* kolla upp om man kan snygga till bakgrunden med nån form av blå färg (typ 
som i moveCite) 
Skriva js till filen. 
*/
